* {
    box-sizing: border-box;
}

body {
    background-color: #eef9bf;
    font-family: 'Roboto', sans-serif;
}

/*Header*/

header {
    width: 100%;
}

header h1 {
    width: 540px;
    height: 63px;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    text-align: left;
    color:#75B79E;
    margin: 40px auto 13px auto;
    display: flex;
    flex-wrap: wrap;
}

/*Main*/

main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin: 0px 116px 0px 122px;
   perspective: 1000px;
}

.carta {
    position: relative;
    width: 117px;
    height: 146px;
    margin: 34px 34px 0px 0px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.carta:active {
    transform: scale(0.97);
    transition: transform .2s;
  }

.carta.virar {
    transform: rotateY(180deg);
}

.verso-da-carta, .face-da-carta {

    display: flex;
    margin: 24px 7px 22px 10px;
    width: 100%;
    height: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    backface-visibility: hidden;
    background-color: #A7E9AF;
}

.face-da-carta {
    transform: rotateY(180deg);
  }

/* Media Query */

@media (max-width: 335px) {
    
    header h1 {
       font-family: Roboto;
       font-size: 36px;
       font-style: normal;
       font-weight: 700;
       line-height: 42px;
       letter-spacing: -0.004em;
       text-align: center;
       width: 312px;
       margin: 30px auto 10px auto;
    }

    main {
       margin-left: 150px;
       margin-right: 115px;
       margin-bottom: 40px;
    }
}


